*{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: black;
    color: white;
    padding: 15px;
}

li,h1,ul{
    display: inline;
}

ul{
    margin-left: 70%;
}

li{
    color: white;
    cursor: pointer;
}

li:hover{
    color:rgb(47, 240, 240);
}

input{
    width: 70%;
    padding: 15px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.searchbar{
    margin: 20px;
    text-align: center;
}

.box1{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    width: 220px;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
   
}

.box2{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    width: 220px;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
}

.box3{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    width: 220px;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
}

.box1:hover{
    background-color: rgb(245, 6, 110);
    color: white;
}

.box2:hover{
    background-color: brown;
    color: white;
}

.box3:hover{
    background-color: rgb(13, 118, 163);
    color: white;
}

.prodcuts{
    text-align: center;
    padding: 20px;
}

.about{
    text-align: center;
    margin: 20px;
}

.contact{
    background-color: black;
    color: white;
    text-align: center;
    padding:20px;
    cursor: pointer;
}

.contact:hover{
    background-color: brown;
}


